@media all {.cbsect_b547f460{padding-bottom: 100px; padding-top:  100px; background-color:  rgba(0, 0, 0, 0); }
.cbdiv_304187f5{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_eecf3492{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.cbdiv_49b93207{height:  100%; color: rgb(255, 255, 255); background-color:  rgb(255, 255, 255); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.6; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.cbcont_422f26d3{padding-top:  0px; padding-bottom:  0px; background-color:  rgba(0, 0, 0, 0); min-height: 20px; }
.cbdiv_5ea0c231{min-height: 275px; display:  flex; margin-top:  0px; margin-bottom:  0px; }
.cbdiv_1c7d9f41{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items: center; }
.cbdiv_d014f572{padding:  2vw; color: #434343; text-align:  center; width:  65%; }
.cbimag_493be3f3{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.cbdiv_8c25972c{min-height: 20px; }
.cbhead_465d55fb{line-height:  1.3em; margin-top:  0px; font-family:  Roboto; margin-bottom:  5px; font-size:  80px; font-weight: lighter; }
.cbhead_d2341174{line-height:  1.3em; margin-top:  0px; font-family: Roboto; padding-left:  2px; padding-right:  2px; }
.cbpara_cafcce31{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.cbdiv_920a9e44{min-height: 20px; }
.cbbsbu_99a21c7a{min-width: 100px; margin-top: 10px; margin-bottom: 5px; }
.cbdiv_cb23500b{min-height:  20px; margin-top:  10px; }
.cbicon_fd303e67{margin-right:  8px; font-size: 16px; }
.cbtext_8edc7665{color: inherit; }
.cbsect_4a1ca8aa{min-height:  0px; position:  absolute; z-index:  1000; margin:  5vw auto 0px; padding:  0px 5vw; background-color:  rgba(67, 67, 67, 0); top:  0px; width:  100vw; margin-top: 3vw; }
.cbnavb_4d5e32e0{padding-left:  0px; padding-right: 0px; }
.cbnavc_2c5a54cc{display: flex; }
.cbnavh_ee1344bf{padding-left:  0px; width: 35%; }
.cbnavm_0819b0fa{background-color: rgba(0,0,0,0.05); }
.cblink_ae9799c1{min-height: 10px; min-width: 10px; text-align: center; padding: 0px; display: none; background-color: rgba(79, 79, 79, 0.14902); height: 40px; width: 40px; line-height: 40px; }
.cbicon_bd740046{font-size:  22px; line-height:  40px; width: 100%; }
.cbicon_bd740046.c-state1{display: none; }
.cbicon_c82b71e9{font-size:  26px; display:  none; line-height: 40px; }
.cbicon_c82b71e9.c-state1{display: inline-block; }
.cbnavb_22562a2f{color:  rgb(255, 247, 66); background-image:  url("http://qty83k.creatby.com/materials/95622/origin/7da30e52c02964519bb1cd71fcc87c37_origin_NQQoSWr.png"); background-size:  contain; background-repeat:  no-repeat; background-position:  0% 50%; width: 80px; height:  70px; }
.cbnavc_ec13e70b{padding-right:  0px; padding-left:  0px; }
.navcollapse_er0frU.c-state1{transform: rotate(0deg) scale(1) translate(0px,0%); transition: All 0.3s ease; -ms-transform: rotate(0deg) scale(1) translate(0px,0%); -o-transform: rotate(0deg) scale(1) translate(0px,0%); -moz-transform: rotate(0deg) scale(1) translate(0px,0%); -webkit-transform: rotate(0deg) scale(1) translate(0px,0%); -ms-transition: All 0.3s ease; -o-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -webkit-transition: All 0.3s ease; }
.cbnavl_c1b8ea5b{margin-right:  0px; width:  100%; justify-content:  flex-start; display: flex; }
.cbnavl_2c4d8570{justify-content:  center; align-items:  center; }
.navbar-nav > li > .cbnavl_fb259d8c{height:  45px; font-size:  13px; text-transform:  uppercase; padding-left:  0px; padding-right:  0px; margin-left:  35px; margin-right:  35px; margin-top: 25px; }
.cbtext_0366{color: inherit; }
.cbsect_ae1157bc{padding-bottom:  0px; padding-top:  0px; background-color: rgb(102, 102, 102); }
.cbcont_35e37c66{padding-bottom:  0px; }
.cbslid_40dd742f{min-height: 700px; background-color:  rgba(153, 153, 153, 0); }
.cbslid_ab8c4312{z-index: auto; }
.cbslid_8ad7d3d2{margin-bottom:  0px; background-size:  cover; background-position:  50% 50%; background-repeat:  no-repeat; background-image: url('http://qty83k.creatby.com/materials/95622/origin/2a04febbf6160eb8c261253e9e7e1694_origin.jpg'); background-color:  rgba(67, 67, 67, 0); }
.cbdiv_468ac752{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color:  rgba(66, 139, 202, 0); display:  flex; justify-content: center; }
.cbdiv_cb7b21aa{-webkit-box-pack:  start; justify-content:  flex-start; margin-bottom:  30px; position:  relative; -webkit-box-align:  stretch; align-items:  stretch; display:  flex; height:  100%; background-color: rgba(0, 0, 0, 0); }
.cbdiv_22cf3b16{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items: flex-start; }
.cbdiv_50838d85{padding:  2vw 4vw 4vw; color:  white; text-align:  left; background-color:  rgba(0, 0, 0, 0); width: 70%; }
.cbimag_b84f656c{margin-top:  20px; width: 220px; margin-bottom:  20px; }
.cbdiv_49e0ba40{min-height: 20px; }
.cbhead_5e8d0175{line-height:  1em; margin-top:  0px; font-family:  Source-Han-Light; margin-bottom:  5px; padding:  10px 5px 5px; }
.cbhead_a701498c{line-height:  1.3em; margin-top:  0px; font-family:  Caudex; padding:  0px 5px; margin-bottom:  5px; padding-bottom: 0px; }
.cbpara_22b0ddca{line-height:  1.7em; font-family:  -apple-system-font, "Helvetica Neue", Helvetica, sans-serif; padding:  0px 5px; padding-bottom: 0px; }
.cbdiv_02e01c6c{min-height: 20px; }
.cbbsbu_27bdadae{min-width:  100px; border-radius:  80px; margin-top:  10px; margin-bottom: 5px; }
.cbdiv_511ccb1d{min-height:  20px; margin-top:  10px; margin-bottom: 10px; }
.cbicon_758e6f6a{margin-right:  8px; font-size: 16px; }
.cbtext_5c421304{color: inherit; }
.cbslid_9f1795b6{margin-bottom: 0px; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image:  url("http://qty83k.creatby.com/materials/origin/3f7b1bde5fa579758d6ee684ad540f69_origin.jpg"); background-color: rgb(74, 134, 232); }
.cbdiv_2b894178{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color: rgba(66, 139, 202, 0); }
.cbdiv_846c8e66{-webkit-box-pack:  start; justify-content:  flex-start; margin-bottom:  30px; position:  relative; -webkit-box-align:  stretch; align-items:  stretch; display:  flex; height:  100%; background-color: rgba(0, 0, 0, 0); }
.cbdiv_95899eb1{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items: flex-end; }
.cbdiv_27b4bac2{padding:  2vw 4vw 4vw; color:  white; text-align: right; background-color:  rgba(0, 0, 0, 0); width:  70%; }
.cbimag_55f33c6f{margin-top:  20px; width: 220px; margin-bottom:  20px; }
.cbdiv_a34b514a{min-height: 20px; }
.cbhead_4fe9e5a3{line-height:  1em; margin-top:  0px; font-family:  Source-Han-Light; margin-bottom:  5px; padding:  10px 5px 5px; }
.cbhead_17c1f665{line-height:  1.3em; margin-top:  0px; font-family:  Caudex; padding:  0px 5px; margin-bottom:  5px; padding-bottom: 0px; }
.cbpara_94ce26ea{line-height:  1.7em; font-family:  -apple-system-font, "Helvetica Neue", Helvetica, sans-serif; padding:  0px 5px; padding-bottom: 0px; }
.cbdiv_ce745b86{min-height: 20px; }
.cbbsbu_2e7be459{min-width:  100px; border-radius:  80px; margin-top:  10px; margin-bottom: 5px; }
.cbdiv_279f140e{min-height:  20px; margin-top:  10px; margin-bottom: 10px; }
.cbicon_5a6a2484{margin-right:  8px; font-size: 16px; }
.cbtext_a3288f66{color: inherit; }
.cbleft_61f40b2a{color: rgb(255, 255, 255); height: 50px; width: 50px; left: 5vw; }
.cbicon_f5807bbd{font-size: 20px; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; opacity:  0.4; }
.cbrigh_b5d05c5b{color: rgb(255, 255, 255); height: 50px; width: 50px; right: 5vw; }
.cbicon_d7e436c5{font-size: 20px; color:  rgb(204, 204, 204); opacity:  0.4; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; }
.cbslid_a48f7546{padding-top:  0px; text-align:  right; padding-right:  0px; z-index:  5; display:  flex; margin-left:  5vw; margin-bottom:  5vw; margin-right:  5vw; height: auto; }
.cbslid_d3be48a3{margin-bottom:  0em; margin-left:  0px; margin-right: 0px; }
.cbslid_a24d1a63{margin-left: 0px; margin-bottom:  0em; margin-right:  0px; }
.cbdiv_7d1aea6f{color:  rgb(224, 224, 224); position:  absolute; bottom:  0px; left:  calc(50% - 15px); z-index:  10; width:  30px; min-height:  40px; margin-bottom: 5px; }
.cbsvg_c28d4bc9{color: rgb(224, 224, 224); z-index: 10; width: 30px; height: 40px; }
.nav_contact{right:  0px; left:  auto; float:  none; margin-left:  auto; margin-right:  0px; }
.navbar-nav > li > .nav_contact_textlink{height:  45px; font-family:  Caudex; font-size:  14px; text-transform:  uppercase; padding-left:  0px; padding-right:  0px; margin-top: 25px; }
.div_KkH4wF{width: 66%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding-top: 25vh; }
.div_pd2NJy{display:  flex; flex-direction:  column; justify-content:  flex-start; align-items: flex-end; }
.paragraph_rmQuzx{color: rgb(255, 255, 255); margin-bottom: 0px; font-size: 2vh; }
.paragraph_is1maF{color: rgb(255, 255, 255); font-family: Caudex; font-size: 7.8vh; }
.div_qV80wx{min-height:  0px; font-family:  Caudex; font-size: 30px; }
.div_IQzjRW{min-height: 0px; }
.div_xWKnUe{width: 100%; margin-top: 9vh; display: flex; padding-left: 3vh; padding-right: 3vh; position: relative; height: 20vh; }
.paragraph_9Ma2pV{color:  rgb(255, 255, 255); font-family:  Caudex; text-transform:  capitalize; line-height:  2em; text-align: left; }
.div_O7GX0c{margin-left:  100px; width:  30%; }
.paragraph_9Ma1{color:  rgb(255, 255, 255); text-transform:  capitalize; line-height:  2em; font-size:  13px; }
.div_lO41tR213{position:  absolute; right:  0px; width:  30%; display:  flex; justify-content: flex-end; }
.div_lO41tR{flex:  0 0 auto; width: 30%; }
.cst_block_slide .c-slider-nav-dot{width: auto !important;	height: auto !important;	background-color: transparent !important;}
.div_XwqBmp{min-height:  0px; display:  flex; align-items:  flex-end; height: 60px; }
.div_PqO1pK{height: 10px; min-height:  0px; width:  1px; background-color:  rgba(255, 255, 255, 0.4); margin-right:  5px; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; }
.div_PqO1pK.active{height:  30px; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; background-color: rgba(255,255,255,0.8); }
.div_guide_btn_active{height: 20px; transition: All 0.3s ease; }
.cbslid_ada6fc6a{margin-bottom:  0px; background-size:  cover; background-position:  50% 50%; background-repeat:  no-repeat; background-image: url('http://qty83k.creatby.com/materials/95622/origin/c2748dc0d1624341cc4778d9912564d8_origin.jpg'); background-color:  rgba(67, 67, 67, 0); }
.cbdiv_78fc5c12{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color:  rgba(66, 139, 202, 0); display:  flex; justify-content: center; }
.cbdiv_adb141a8{width: 66%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding-top: 25vh; }
.cbdiv_100e17d2{display:  flex; flex-direction:  column; justify-content:  flex-start; align-items: flex-end; }
.cbdiv_22cf48dc{min-height: 0px; }
.cbpara_0425404f{color: rgb(255, 255, 255); margin-bottom: 0px; font-size: 2vh; }
.cbdiv_44735ed4{min-height:  0px; font-family:  Caudex; font-size: 30px; }
.cbpara_7ab640ec{color:  rgb(255, 255, 255); font-family:  Caudex; font-size:  7.8vh; text-transform: capitalize; }
.cbdiv_72a03359{width: 100%; margin-top: 9vh; display: flex; padding-left: 3vh; padding-right: 3vh; position: relative; height: 20vh; }
.cbdiv_66b4b314{flex:  0 0 auto; width: 30%; }
.cbpara_8fdd369f{color:  rgb(255, 255, 255); font-family:  Caudex; text-transform:  capitalize; line-height:  2em; text-align: left; }
.cbdiv_555b0bdc{margin-left:  100px; width:  30%; }
.cbpara_fc2219aa{color:  rgb(255, 255, 255); text-transform:  capitalize; line-height:  2em; font-size:  13px; }
.cbdiv_7200b23b{position:  absolute; right:  0px; width:  30%; display:  flex; justify-content: flex-end; }
.slidernavdot_QHatYC{margin-left:  0px; margin-right:  0px; margin-bottom: 0em; }
.btn_guide{margin-bottom:  0em; margin-left:  0px; margin-right: 0px; }
.cbslid_66177f3c{margin-bottom:  0px; background-size:  cover; background-position:  50% 50%; background-repeat:  no-repeat; background-image: url('http://qty83k.creatby.com/materials/95622/origin/2b4a4035af9fb7315b2eb7e8a1263d2a_origin.jpg'); background-color:  rgba(67, 67, 67, 0); }
.cbdiv_569bc907{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color:  rgba(66, 139, 202, 0); display:  flex; justify-content: center; }
.cbdiv_06b84b68{width: 66%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding-top: 25vh; }
.cbdiv_818332a0{display:  flex; flex-direction:  column; justify-content:  flex-start; align-items: flex-end; }
.cbdiv_aa1a34fb{min-height: 0px; }
.cbpara_d8a42e93{color: rgb(255, 255, 255); margin-bottom: 0px; font-size: 2vh; }
.cbdiv_c1ae2145{min-height:  0px; font-family:  Caudex; font-size: 30px; }
.cbpara_a8d60e4d{color: rgb(255, 255, 255); font-family: Caudex; font-size: 7.8vh; }
.cbdiv_6e9a5a36{width: 100%; margin-top: 9vh; display: flex; padding-left: 3vh; padding-right: 3vh; position: relative; height: 20vh; }
.cbdiv_6102e4af{flex:  0 0 auto; width: 30%; }
.cbpara_0d912dd3{color:  rgb(255, 255, 255); font-family:  Caudex; text-transform:  capitalize; line-height:  2em; text-align: left; }
.cbdiv_3764096f{margin-left:  100px; width:  30%; }
.cbpara_f5fbe01e{color:  rgb(255, 255, 255); text-transform:  capitalize; line-height:  2em; font-size:  13px; }
.cbdiv_5396088d{position:  absolute; right:  0px; width:  30%; display:  flex; justify-content: flex-end; }
.c-slider-nav-dot.c-active .div_guide_btn_active{height: 40px;	background-color: rgba(255,255,255,0.8);	transition: All 0.3s ease;}
.c-slider-nav-dot:hover .div_guide_btn_active{height: 40px;	background-color: rgba(255,255,255,0.8);	transition: All 0.3s ease;}
.cbslid_ee79dd81{margin-bottom:  0px; background-size:  cover; background-position:  50% 50%; background-repeat:  no-repeat; background-image: url('http://qty83k.creatby.com/materials/95622/origin/9029ff0f45c245f9ce73059f3e11b4fb_origin.jpg'); background-color:  rgba(67, 67, 67, 0); }
.cbdiv_55a799d4{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color:  rgba(66, 139, 202, 0); display:  flex; justify-content: center; }
.cbdiv_82cd56a4{width: 66%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding-top: 25vh; }
.cbdiv_e7bae462{display:  flex; flex-direction:  column; justify-content:  flex-start; align-items: flex-end; }
.cbdiv_3216aea0{min-height: 0px; }
.cbpara_231102f5{color: rgb(255, 255, 255); margin-bottom: 0px; font-size: 2vh; }
.cbdiv_97ef396a{min-height:  0px; font-family:  Caudex; font-size: 30px; }
.cbpara_92f940f1{color: rgb(255, 255, 255); font-family: Caudex; font-size: 7.8vh; }
.cbdiv_5d839f1c{width: 100%; margin-top: 9vh; display: flex; padding-left: 3vh; padding-right: 3vh; position: relative; height: 20vh; }
.cbdiv_bf46943f{flex:  0 0 auto; width: 30%; }
.cbpara_2cd6ba97{color:  rgb(255, 255, 255); font-family:  Caudex; text-transform:  capitalize; line-height:  2em; text-align: left; }
.cbdiv_08ccddb3{margin-left:  100px; width:  30%; }
.cbpara_150c7ec7{color:  rgb(255, 255, 255); text-transform:  capitalize; line-height:  2em; font-size:  13px; }
.cbdiv_93376182{position:  absolute; right:  0px; width:  30%; display:  flex; justify-content: flex-end; }
.cbsect_0bbd0dd6{padding-bottom:  0px; padding-top:  0px; background-color:  rgba(67, 67, 67, 0); position:  fixed; bottom:  5vw; right:  5vw; z-index: 100; min-height:  0px; }
.cbdiv_27cce016{position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; min-height: 0px; }
.cbdiv_21f192e7{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size:  cover; background-position:  50% 50%; height:  100%; min-height: 0px; }
.cbdiv_05d81404{height:  100%; color:  rgb(255, 0, 255); background-color:  rgb(26, 87, 166); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.6; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; min-height: 0px; }
.cbcont_6d15539d{padding:  0px; background-color:  rgba(0, 0, 0, 0); min-height: 0px; }
.cbdiv_c53f1152{-webkit-box-pack:  start; justify-content:  flex-start; margin-bottom:  0px; position:  relative; -webkit-box-align:  stretch; align-items:  stretch; display:  flex; }
.cbdiv_afb42640{flex-direction:  column; display: block; flex:  1 1 0%; background-color:  rgb(102, 102, 102); }
.cbdiv_ed0f9fde{padding-top: 100%; position:  relative; overflow:  hidden; }
.cbimag_2effee2d{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 1s ease; background-position: 50% 50%; background-attachment:  scroll; }
.cbdiv_ddea68ab{position:  absolute; min-height:  0px; background-color: rgb(102, 102, 102); color: rgb(102, 102, 102); }
.cbsvg_c1987c4f{height:  100%; width: 100%; }
.cbdiv_65671bcc{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items:  center; background-color: rgb(102, 102, 102); }
.cbdiv_71a2389c{padding:  2vw; color:  white; text-align: center; width:  80%; }
.cbimag_f8889884{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.cbdiv_d407d8ab{min-height: 20px; }
.cbhead_efca96d8{line-height:  1.3em; margin-top:  0px; font-family:  Source-Han-Light; margin-bottom:  5px; }
.cbhead_3cf0f7e6{line-height:  1.3em; margin-top:  0px; font-family: Caudex; padding-left:  2px; padding-right:  2px; }
.cbpara_530713a3{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.cbdiv_6fa65181{min-height:  20px; display:  flex; text-align: left; }
.cbdiv_94ce6658{flex: 1; }
.cbtext_82f631a8{max-width:  1000px; line-height:  1.7em; opacity:  0.9; font-size:  14px; display:  block; color: rgb(255, 255, 255); }
.cbdiv_8429161a{min-height: 20px; }
.cbbsbu_7fa46b0f{min-width:  100px; border-radius:  80px; margin-top:  10px; margin-bottom: 5px; }
.cbdiv_8f48ca23{min-height:  20px; margin-top:  10px; }
.cbicon_3c566e50{margin-right:  8px; font-size: 16px; }
.cbtext_ed9e3fb6{color: inherit; }
.paragraph_gWItEg{font-size:  13px; margin-bottom:  0px; color:  rgb(153, 153, 153); line-height:  1em; }
.nav_style_01 .navbar-nav > li > a::after{height: 2px;	left: auto;	transition: All 0.3s ease;}
.nav_style_01 .navbar-nav > li > a:hover::after{width: 10px;	transition: All 0.3s ease;}
.cbsect_219022f0{padding-bottom: 0px; padding-top:  0px; background-color:  rgb(67, 67, 67); }
.cbdiv_7461fd7d{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_79587b63{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.cbdiv_2b157661{height:  100%; color:  rgb(0, 0, 0); background-color:  rgb(0, 0, 0); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity: 0.4; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.cbcont_f9368e2c{padding-top:  0px; padding-bottom:  0px; background-color:  rgba(0, 0, 0, 0); padding-left:  0px; padding-right: 0px; }
.cbdiv_8b75a04d{-webkit-box-pack:  start; justify-content:  flex-start; margin-bottom:  0px; position:  relative; -webkit-box-align:  stretch; align-items:  stretch; display:  flex; }
.cbdiv_1c893c63{flex-direction:  column; display: block; flex:  1 1 0%; background-color:  rgb(102, 102, 102); }
.cbdiv_adb80954{padding-top: 100%; position:  relative; overflow:  hidden; }
.cbimag_b1dd544d{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 1s ease; background-position: 50% 50%; background-attachment:  scroll; }
.cbdiv_73f4fd64{position:  absolute; min-height:  0px; background-color: rgb(102, 102, 102); color: rgb(102, 102, 102); }
.cbsvg_23ebe80a{height:  100%; width: 100%; }
.cbdiv_a31f606c{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items:  center; background-color: rgb(102, 102, 102); }
.cbdiv_311c2c13{padding:  2vw; color:  white; text-align: center; width:  80%; }
.cbimag_999e3286{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.cbdiv_42da3d84{min-height: 20px; }
.cbhead_ff4d0ce3{line-height:  1.3em; margin-top:  0px; font-family:  Source-Han-Light; margin-bottom:  5px; }
.cbhead_56ce3cba{line-height:  1.3em; margin-top:  0px; font-family: Caudex; padding-left:  2px; padding-right:  2px; }
.cbpara_aa53d898{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.cbdiv_80bd0417{min-height:  20px; display:  flex; text-align: left; }
.cbdiv_36339edf{flex: 1; }
.cbtext_85ee9803{max-width:  1000px; line-height:  1.7em; opacity:  0.9; font-size:  14px; display:  block; color: rgb(255, 255, 255); }
.cbdiv_327666de{min-height: 20px; }
.cbbsbu_c0737be7{min-width:  100px; border-radius:  80px; margin-top:  10px; margin-bottom: 5px; }
.cbdiv_1eef231b{min-height:  20px; margin-top:  10px; }
.cbicon_969801d8{margin-right:  8px; font-size: 16px; }
.cbtext_97998832{color: inherit; }
.div_bqXWT7{padding-top:  11vw; padding-left:  5vw; padding-right:  5vw; height: 35vh; min-height:  0px; }
.paragraph_0srC6W{font-size:  20px; margin-bottom:  0px; color:  rgb(204, 204, 204); letter-spacing:  1px; padding-left: 34px; }
.div_YWjQSt{min-height:  500px; }
.paragraph_0srC6W1{color:  rgb(255, 255, 255); font-size:  54px; margin-bottom:  0px; text-transform:  capitalize; font-family:  Caudex; line-height: 1em; }
.cbsect_106bf484{padding-bottom:  100px; padding-top: 65px; background-color:  rgb(255, 255, 255); min-height:  20px; }
.cbcont_5f29c258{padding-top:  0px; padding-bottom:  0px; background-color: rgba(0, 0, 0, 0); min-height:  20px; }
.cbdiv_95ad4f6c{display:  flex; align-items:  center; background-color:  rgba(0, 0, 0, 0); color:  rgb(217, 217, 217); min-height:  20px; margin-bottom: 70px; margin-top:  0px; }
.cb_oth_a0943bda{flex:  1 1 0%; margin-right:  20px; margin-left:  10px; border-top-color:  currentcolor !important; }
.cbdiv_b188e491{min-height:  0px; text-align:  center; color: #434343; flex:  0 0 auto; max-width:  60%; }
.cbhead_fae9be3e{font-family:  Source-Han-Light; margin-top:  10px; line-height: 1em; }
.cbhead_509db4de{line-height:  1.3em; margin-top: 10px; font-family:  Caudex; padding-left:  2px; padding-right:  2px; margin-bottom:  10px; }
.cbpara_62cd80cd{line-height:  1.7em; opacity:  0.7; font-family:  -apple-system-font, "Helvetica Neue", Helvetica, sans-serif; display:  inline-block; font-size:  15px; }
.cb_oth_ddd9dd84{flex:  1 1 0%; margin-left:  20px; margin-right:  10px; border-top-color:  currentcolor !important; border-type: border-top; }
.cbdiv_293e498a{background-color:  rgba(0, 0, 0, 0); margin-bottom:  0px; margin-top: 0px; }
.cbcont_f6436edc{padding: 10px; }
.cbrow_47163e16{padding-bottom:  0px; border-bottom:  1px none rgb(79, 79, 79); align-items:  flex-start; flex-flow:  row wrap; color: #434343; }
.cbcolu_c4f12c39{background-color:  transparent; padding:  10px; text-align: left; }
.cbdiv_c0c9e3bc{display:  block; position:  relative; overflow:  hidden; width:  100%; height:  100%; background-color: rgba(0, 0, 0, 0); min-height:  335px; }
.cbdiv_581c4d53{position: relative; overflow: hidden; }
.cbdiv_fec22f12{height:  100%; position:  absolute; bottom:  0px; right:  0px; top:  0px; left:  0px; justify-content:  center; align-items:  center; opacity:  0; z-index:  50; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 1s ease; color:  rgb(255, 255, 255); background-color: rgba(102, 102, 102, 0.44); }
.cbdiv_d85b6c13{display:  flex; justify-content:  center; align-items:  center; width:  100%; height:  100%; min-width:  0px; min-height:  0px; flex-direction:  column; padding:  20px; position:  relative; color:  currentcolor; overflow:  hidden; }
.cbicon_f1971a00{font-size:  20px; width:  50px; height: 50px; display:  flex; justify-content:  center; align-items:  center; border-radius:  100px; border-style:  solid; border-width:  1px; margin-bottom:  10px; margin-top:  10px; }
.cbhead_c71be19e{flex:  0 0 auto; transform:  rotate(0deg) scale(1) translate(0px, -20px); transition:  all 0s ease; opacity:  0; position:  relative; }
.cbpara_d9742b92{margin-top:  10px; display:  block; flex:  0 0 auto; max-width:  80%; opacity:  0; transform:  rotate(0deg) scale(1) translate(0px, 20px); transition:  all 0s ease; font-size: 13px; }
.cblink_9edf39f9{position:  absolute; bottom: 0; right: 0; top: 0; left: 0; }
.cbimag_d4d2083f{width:  100%; display:  block; height:  100%; padding-top: 100%; }
.cbtext_3930cb62{font-family: Source-Han-Normal; font-weight: normal; padding-left: 15px; padding-right: 15px; margin-bottom: 7px; margin-top: 15px; display: block; font-size: 18px; }
.cbpara_ffa7217a{line-height:  1.7em; font-weight:  200; padding:  3px 15px 0px; margin-bottom: 15px; font-size:  13px; opacity:  0.8; margin-top:  0px; }
.cbdiv_ce4a9e11{min-height:  20px; margin-top:  10px; padding-right:  15px; margin-bottom:  10px; padding-left: 15px; }
.cbicon_6fb3a23d{margin-right:  8px; font-size: 16px; }
.cbtext_d6c0d5c0{color: inherit; }
.pagination > li > .cbpagi_90cd3bc2{padding:  0px; font-size:  12px; min-width:  24px; min-height:  24px; line-height:  24px; margin:  4px; width:  24px; height:  24px; border-style:  none; border-width:  0px; background-color:  rgb(181, 181, 181); color:  rgb(255, 255, 255); border-radius:  50px !important; padding-right: 0px; }
.pagination > .active > .cbpagi_90cd3bc2{background-color: rgba(117,115,115,1); }
.cbdiv_432917d7{background-color:  rgba(0, 0, 0, 0); margin-bottom:  0px; margin-top:  0px; margin-left:  0px; margin-right: 0px; }
.cbcont_45e35f37{padding: 0px; }
.cbrow_673e5890{padding-bottom:  0px; border-bottom:  1px none rgb(79, 79, 79); align-items:  flex-start; flex-flow:  row wrap; color: #434343; }
.cbcolu_50973fdc{background-color:  transparent; padding: 0px; text-align:  left; }
.cbdiv_1e7f129c{display:  block; position:  relative; overflow:  hidden; width:  100%; height:  100%; background-color: rgba(0, 0, 0, 0); min-height:  335px; }
.cbdiv_166430bb{position: relative; overflow: hidden; }
.cbdiv_38867456{height:  100%; position:  absolute; bottom:  0px; right:  0px; top:  0px; left:  0px; justify-content:  center; align-items:  center; opacity:  0; z-index:  50; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 1s ease; color:  rgb(255, 255, 255); background-color: rgba(102, 102, 102, 0.44); }
.cbdiv_abff3fad{display:  flex; justify-content:  center; align-items:  center; width:  100%; height:  100%; min-width:  0px; min-height:  0px; flex-direction:  column; padding:  20px; position:  relative; color:  currentcolor; overflow:  hidden; }
.cbicon_fad8711b{font-size:  20px; width:  50px; height: 50px; display:  flex; justify-content:  center; align-items:  center; border-radius:  100px; border-style:  solid; border-width:  1px; margin-bottom:  10px; margin-top:  10px; }
.cbhead_9a69c5a5{flex:  0 0 auto; transform:  rotate(0deg) scale(1) translate(0px, -20px); transition:  all 0s ease; opacity:  0; position:  relative; }
.cbpara_a5d59155{margin-top:  10px; display:  block; flex:  0 0 auto; max-width:  80%; opacity:  0; transform:  rotate(0deg) scale(1) translate(0px, 20px); transition:  all 0s ease; font-size: 13px; }
.cblink_b5991bbd{position:  absolute; bottom: 0; right: 0; top: 0; left: 0; }
.cbimag_8ffbe31e{width:  100%; display:  block; height:  100%; padding-top: 100%; }
.cbtext_c454eca1{font-family: Source-Han-Normal; font-weight: normal; padding-left: 15px; padding-right: 15px; margin-bottom: 7px; margin-top: 15px; display: block; font-size: 18px; }
.cbpara_5319719e{line-height:  1.7em; font-weight:  200; padding:  3px 15px 0px; margin-bottom: 15px; font-size:  13px; opacity:  0.8; margin-top:  0px; }
.cbdiv_8ace4c44{min-height:  20px; margin-top:  10px; padding-right:  15px; margin-bottom:  10px; padding-left: 15px; }
.cbicon_36205ec4{margin-right:  8px; font-size: 16px; }
.cbtext_8cd445f4{color: inherit; }
.pagination > li > .cbpagi_408729ba{padding:  0px; font-size:  12px; min-width:  24px; min-height:  24px; line-height:  24px; margin:  4px; width:  24px; height:  24px; border-style:  none; border-width:  0px; background-color:  rgb(181, 181, 181); color:  rgb(255, 255, 255); border-radius:  50px !important; padding-right: 0px; }
.pagination > .active > .cbpagi_408729ba{background-color: rgba(117,115,115,1); }
.div_eRhySJ{height:  30vh; background-color:  rgba(0, 0, 0, 0); transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; position: relative; }
.div_news:nth-child(odd){background-color: rgba(255,255,255,0.05); }
.div_news:nth-child(even){background-color: rgba(0,0,0,0.05); }
.div_Qxg737{min-height: 0px; padding-left:  5vw; padding-right:  5vw; }
.div_TFIH6l{min-height:  150px; display:  flex; position: relative; }
.div_VW7Qat{display:  flex; align-items:  flex-start; flex-direction:  column; justify-content:  center; margin-right: 120px; }
.paragraph_XZMmUN{color:  rgb(204, 204, 204); font-size:  13px; }
.paragraph_fy64Ts{color:  rgb(255, 255, 255); font-size:  13px; margin-bottom:  0px; letter-spacing:  1px; text-align: justify; }
.paragraph_fy64Ts1{font-size:  13px; margin-bottom:  0px; color:  rgb(204, 204, 204); opacity: 0.8; }
.div_d9RNky{position:  absolute; right:  0px; height:  100%; display:  flex; flex-direction:  column; justify-content:  center; align-items: flex-end; }
.div_VW7Qat1{display:  flex; align-items:  flex-start; flex-direction:  row; justify-content: flex-start; min-height:  0px; }
.textlink_CpwreA{color:  rgb(204, 204, 204); font-size:  13px; text-transform:  uppercase; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; opacity:  0.8; letter-spacing: 1px; }
.div_pFmz2I{height:  100%; overflow:  hidden; position:  absolute; bottom: 0; right: 0; top: 0; left: 0; }
.imageblock_SopUHf{width:  100%; height:  100%; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; opacity: 0; }
.div_WA0Hc4{position:  absolute; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color:  rgba(0, 0, 0, 0); padding-top:  6vh; padding-left:  5vh; padding-right:  5vh; transform: rotate(0deg) scale(1) translate(0%,0%); transition: All 0.3s ease; -ms-transform: rotate(0deg) scale(1) translate(0%,0%); -o-transform: rotate(0deg) scale(1) translate(0%,0%); -moz-transform: rotate(0deg) scale(1) translate(0%,0%); -webkit-transform: rotate(0deg) scale(1) translate(0%,0%); -ms-transition: All 0.3s ease; -o-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -webkit-transition: All 0.3s ease; }
.paragraph_pRSQqI{color: rgb(255, 255, 255); font-size: 22px; -webkit-line-clamp: 1; width: 70%; margin-bottom: 3vh; }
.paragraph_gGBpRm{line-height:  2em; font-size:  13px; color:  rgb(204, 204, 204); transform: rotate(0deg) scale(1) translate(0px,0px); transition: All 0.3s ease; -ms-transform: rotate(0deg) scale(1) translate(0px,0px); -o-transform: rotate(0deg) scale(1) translate(0px,0px); -moz-transform: rotate(0deg) scale(1) translate(0px,0px); -webkit-transform: rotate(0deg) scale(1) translate(0px,0px); -ms-transition: All 0.3s ease; -o-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -webkit-transition: All 0.3s ease; }
.div_news:hover .img_news{transform: rotate(0deg) scale(1.05) translate(0%,0%); opacity: 1; transition: All 0.3s ease; }
.div_news:hover .div_news_text{background-color: rgba(0,0,0,0.3); transition: All 0.3s ease; }
.div_news:hover .text_news_synopsis{color: #FFFFFF;	transition: All 0.3s ease;}
.linkblock_WSGe7m{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbsect_08106314{padding-bottom: 0px; padding-top:  0px; background-color:  rgb(67, 67, 67); }
.cbdiv_a7486032{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_d7e366f6{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.cbdiv_e2153026{height:  100%; color:  rgb(0, 0, 0); background-color:  rgb(0, 0, 0); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.4; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; position: relative; }
.cbcont_a66dd45b{padding-top:  0px; padding-bottom:  0px; background-color:  rgba(0, 0, 0, 0); padding-left:  0px; padding-right: 0px; }
.cbdiv_dbcd470f{height: 100vh; }
.cbdiv_95344cd5{padding-top:  11vw; padding-left:  5vw; padding-right:  5vw; height: 35vh; min-height:  0px; }
.cbpara_ece71ebf{color:  rgb(255, 255, 255); font-size:  54px; margin-bottom:  0px; text-transform:  capitalize; font-family:  Caudex; line-height: 1em; }
.cbpara_7f2d925a{font-size:  20px; margin-bottom:  0px; color:  rgb(204, 204, 204); letter-spacing: 1px; }
.cbdiv_f0ebdb8f{min-height:  500px; }
.cbdiv_04f9de9a{background-color:  rgba(0, 0, 0, 0); margin-bottom:  0px; margin-top:  0px; margin-left:  0px; margin-right: 0px; }
.cbcont_8ddf75f5{padding: 0px; }
.cbrow_81d4ed4e{padding-bottom:  0px; border-bottom:  1px none rgb(79, 79, 79); align-items:  flex-start; flex-flow:  row wrap; color: #434343; }
.cbcolu_a3cf7860{background-color:  transparent; padding: 0px; text-align:  left; }
.cbdiv_37b8589d{height:  30vh; background-color:  rgba(0, 0, 0, 0); transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; position: relative; }
.cbdiv_87c8cd91{height:  100%; overflow:  hidden; position:  absolute; bottom: 0; right: 0; top: 0; left: 0; }
.cbimag_8ad66908{width:  100%; height:  100%; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; opacity: 0; }
.cbdiv_fcb5b865{position:  absolute; bottom:  0px; right:  0px; top:  0px; left:  0px; background-color:  rgba(0, 0, 0, 0); padding-top:  6vh; padding-left:  5vh; padding-right:  5vh; transform: rotate(0deg) scale(1) translate(0%,0%); transition: All 0.3s ease; -ms-transform: rotate(0deg) scale(1) translate(0%,0%); -o-transform: rotate(0deg) scale(1) translate(0%,0%); -moz-transform: rotate(0deg) scale(1) translate(0%,0%); -webkit-transform: rotate(0deg) scale(1) translate(0%,0%); -ms-transition: All 0.3s ease; -o-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -webkit-transition: All 0.3s ease; }
.cbpara_17966db5{color: rgb(255, 255, 255); font-size: 22px; -webkit-line-clamp: 1; width: 70%; margin-bottom: 3vh; }
.cbpara_cb8e41b8{line-height:  2em; font-size:  13px; color:  rgb(204, 204, 204); transform: rotate(0deg) scale(1) translate(0px,0px); transition: All 0.3s ease; -ms-transform: rotate(0deg) scale(1) translate(0px,0px); -o-transform: rotate(0deg) scale(1) translate(0px,0px); -moz-transform: rotate(0deg) scale(1) translate(0px,0px); -webkit-transform: rotate(0deg) scale(1) translate(0px,0px); -ms-transition: All 0.3s ease; -o-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -webkit-transition: All 0.3s ease; }
.cblink_09b712f6{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_473adbe2{min-height:  0px; padding-left:  5vw; padding-right:  5vw; bottom:  0px; width:  100%; position:  absolute; left:  0px; }
.cbdiv_515b679d{min-height:  150px; display:  flex; position: relative; }
.cbdiv_dc66e54a{display:  flex; align-items:  flex-start; flex-direction:  column; justify-content:  center; margin-right: 120px; }
.cbpara_b3a78b86{font-size:  13px; margin-bottom:  0px; color:  rgb(204, 204, 204); opacity: 0.8; }
.cbpara_f4370787{color:  rgb(255, 255, 255); font-size:  13px; margin-bottom:  0px; letter-spacing:  1px; text-align: justify; }
.cbdiv_4502188c{position:  absolute; right:  0px; height:  100%; display:  flex; flex-direction:  column; justify-content:  center; align-items: flex-end; }
.cbdiv_4b751313{display:  flex; align-items:  flex-start; flex-direction:  row; justify-content: flex-start; min-height:  0px; }
.cbtext_2cf27f6d{color:  rgb(204, 204, 204); font-size:  13px; text-transform:  uppercase; transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 0.3s ease 0s; opacity:  0.8; letter-spacing: 1px; }
.div_htOLOP{position: relative; top: 30vh; padding-left: 15vh; padding-right: 15vh; }
.div_nSQJ8B{height:  40px; min-height:  400px; display: flex; }
.paragraph_axG29e{font-size:  54px; color:  rgb(255, 255, 255); font-family:  Caudex; text-transform:  capitalize; margin-bottom:  0px; line-height:  1em; padding-left: 34px; }
.div_g1y3bg{width:  50%; padding-right: 50px; }
.div_xetHqc{flex:  1 1 0%; padding-left: 50px; }
.div_703j1C{margin-top:  5vh; border-left:  4px solid rgb(176, 0, 0); min-height:  0px; height:  70px; padding-left:  30px; display:  flex; align-items: center; }
.paragraph_jh3GOW{color:  rgb(255, 255, 255); margin-bottom:  0px; font-size:  18px; line-height:  1.8em; padding-top: 2px; }
.paragraph_6l1gQL{margin-top:  3vh; margin-bottom:  0px; line-height:  2em; font-size:  13px; color:  rgb(238, 238, 238); padding-left: 34px; }
.S_cbsect_418fe24a{padding-bottom:  100px; padding-top:  100px; background-color: rgb(255, 255, 255); min-height:  20px; }
.S_cbcont_65ca5132{padding-top:  0px; padding-bottom:  0px; background-color: rgba(0, 0, 0, 0); min-height:  20px; }
.S_cbdiv_1e5b22d2{color:  black; text-align:  center; background-color: rgba(0, 0, 0, 0); margin-bottom:  20px; }
.S_cbimag_c870cd4a{display:  block; width: 100%; }
.S_cbhead_bed39e91{padding-bottom:  10px; margin-top: 20px; }
.S_cbpara_517035b7{margin-top:  10px; padding-bottom:  10px; font-size:  13px; opacity: 0.7; }
.S_cbsect_7c42fb01{padding-bottom: 120px; padding-top:  200px; background-color:  rgba(0, 0, 0, 0); flex-direction:  column; }
.S_cbdiv_aa3e1d1c{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.S_cbdiv_3a72bcab{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 100%; height:  100%; }
.S_cbdiv_96cf82fe{height:  100%; color:  rgb(0, 0, 0); background-color: rgb(120, 63, 4); background-image:  linear-gradient(40deg, currentcolor, rgba(180, 180, 180, 0)); opacity:  0.5; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.S_cbcont_63564caa{padding-top:  0px; padding-bottom:  0px; background-color: rgba(0, 0, 0, 0); }
.S_cbdiv_6b38192a{min-height:  430px; display:  flex; margin-top:  0px; margin-bottom:  0px; }
.S_cbdiv_85131974{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items: center; }
.S_cbdiv_5a9f74de{padding:  2vw; color:  white; text-align: center; width:  65%; }
.S_cbimag_4420ea49{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.S_cbdiv_47ee2789{min-height: 20px; }
.S_cbhead_2e68fa2c{line-height:  1.3em; margin-top:  0px; font-family: Source-Han-Sans-Medium; margin-bottom:  5px; }
.S_cbhead_a180664e{line-height:  1.3em; margin-top:  0px; padding-left:  2px; padding-right:  2px; font-size: 21px; }
.S_cbpara_45b8ea32{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.S_cbdiv_a589ad3d{min-height:  20px; display:  flex; text-align: left; }
.S_cbdiv_aef7b665{flex: 1; }
.S_cbtext_6a3aaa82{max-width:  1000px; line-height:  1.7em; opacity:  0.9; font-size:  14px; display:  block; color: rgb(255, 255, 255); }
.S_cbdiv_4f5c94c7{min-height: 20px; }
.S_cbbsbu_d1f18c92{min-width:  100px; border-radius:  80px; margin-top:  10px; margin-bottom: 5px; }
.S_cbdiv_05272f9f{min-height:  20px; margin-top:  10px; }
.S_cbicon_6b295d71{margin-right:  8px; font-size: 16px; }
.S_cbtext_18858948{color: inherit; }
.cbleft_61f40b2a:focus{color: #ffffff; }
.cbicon_f5807bbd:focus{color: #ffffff; }
.cbrigh_b5d05c5b:focus{color: #ffffff; }
.cbicon_d7e436c5:focus{color: #ffffff; }
.pagination > li > .cbpagi_90cd3bc2:focus{background-color: rgba(240,240,240,1); }
.pagination > li > .cbpagi_408729ba:focus{background-color: rgba(240,240,240,1); }
.cbleft_61f40b2a:hover{color: #ffffff; }
.cbicon_f5807bbd:hover{color:  rgb(217, 217, 217); opacity: 1; }
.cbrigh_b5d05c5b:hover{color: #ffffff; }
.cbicon_d7e436c5:hover{color:  rgb(217, 217, 217); opacity: 1; }
.cbrow_47163e16:hover{opacity: 1; }
.cbdiv_fec22f12:hover{transform: rotate(0deg) scale(1) translate(0%,0%); transition: All 1s ease; -ms-transform: rotate(0deg) scale(1) translate(0%,0%); -o-transform: rotate(0deg) scale(1) translate(0%,0%); -moz-transform: rotate(0deg) scale(1) translate(0%,0%); -webkit-transform: rotate(0deg) scale(1) translate(0%,0%); -ms-transition: All 1s ease; -o-transition: All 1s ease; -moz-transition: All 1s ease; -webkit-transition: All 1s ease; }
.cbrow_673e5890:hover{opacity: 1; }
.cbdiv_38867456:hover{transform: rotate(0deg) scale(1) translate(0%,0%); transition: All 1s ease; -ms-transform: rotate(0deg) scale(1) translate(0%,0%); -o-transform: rotate(0deg) scale(1) translate(0%,0%); -moz-transform: rotate(0deg) scale(1) translate(0%,0%); -webkit-transform: rotate(0deg) scale(1) translate(0%,0%); -ms-transition: All 1s ease; -o-transition: All 1s ease; -moz-transition: All 1s ease; -webkit-transition: All 1s ease; }
.textlink_CpwreA:hover{color: #ffffff; }
.cbrow_81d4ed4e:hover{opacity: 1; }
.cbtext_2cf27f6d:hover{color: #ffffff; }
.cbdiv_d014f572::before{position: relative; }
.cbdiv_50838d85::before{position: relative; }
.cbdiv_27b4bac2::before{position: relative; }
.cbdiv_71a2389c::before{position: relative; }
.cbdiv_311c2c13::before{position: relative; }
.cbhead_c71be19e::before{content:  ""; position:  absolute; bottom: -12px; height:  1px; width:  0px; background-color:  currentcolor; }
.cbhead_9a69c5a5::before{content:  ""; position:  absolute; bottom: -12px; height:  1px; width:  0px; background-color:  currentcolor; }
.S_cbdiv_5a9f74de::before{position: relative; }
.pagination > li > .cbpagi_90cd3bc2:active{background-color: transparent; }
.pagination > li > .cbpagi_408729ba:active{background-color: transparent; }
} 
@media (max-width: 991px) {.cbdiv_d014f572{width:  95%; Width: 100%; }
.section_S0eqBx22{padding-top: 0px; }
.cbslid_40dd742f{min-height: 680px; }
.cbdiv_50838d85{width:  95%; Width: 100%; }
.cbdiv_27b4bac2{width:  95%; Width: 100%; }
.cbleft_61f40b2a{width: 50px; }
.cbrigh_b5d05c5b{width: 50px; }
.cbdiv_ed0f9fde{padding-top: 100%; }
.cbdiv_71a2389c{width:  95%; Width: 100%; }
.cbimag_f8889884{width: 190px; }
.cbdiv_adb80954{padding-top: 100%; }
.cbdiv_311c2c13{width:  95%; Width: 100%; }
.cbimag_999e3286{width: 190px; }
.cbcolu_c4f12c39{padding: 5px; }
.cbdiv_c0c9e3bc{min-height: 355px; }
.cbcolu_50973fdc{padding: 5px; }
.cbdiv_1e7f129c{min-height: 355px; }
.cbcolu_a3cf7860{padding: 5px; }
.S_cbdiv_5a9f74de{width:  95%; Width: 100%; }
} 
@media (max-width: 767px) {.cbdiv_1c7d9f41{width: 320px; }
.cbdiv_d014f572{width:  95%; Width: 100%; }
.cbhead_465d55fb{width:  95%; Width: 100%; }
.cbpara_cafcce31{width:  95%; Width: 100%; }
.cbbsbu_99a21c7a{margin-bottom: 10px; }
.cbnavb_22562a2f{height:  50px; }
.section_S0eqBx22{padding-top:  0px; padding-bottom: 0px; }
.cbslid_40dd742f{min-height: 465px; }
.cbdiv_22cf3b16{width: 320px; }
.cbdiv_50838d85{width:  95%; Width: 100%; }
.cbhead_5e8d0175{width:  100%; line-height: 1.3em; }
.cbpara_22b0ddca{width:  95%; Width: 100%; }
.cbbsbu_27bdadae{margin-bottom: 10px; }
.cbdiv_95899eb1{width: 320px; }
.cbdiv_27b4bac2{width:  95%; Width: 100%; }
.cbhead_4fe9e5a3{width:  100%; line-height: 1.3em; }
.cbpara_94ce26ea{width:  95%; Width: 100%; }
.cbbsbu_2e7be459{margin-bottom: 10px; }
.cbslid_a48f7546{height:  30px; padding-top: 8px; }
.cbdiv_65671bcc{width: 320px; }
.cbdiv_71a2389c{width:  100%; padding-top:  4vw; padding-bottom: 4vw; }
.cbimag_f8889884{width: 180px; }
.cbhead_efca96d8{width:  95%; Width: 100%; }
.cbpara_530713a3{width:  95%; Width: 100%; }
.cbdiv_6fa65181{flex-direction: column; }
.cbbsbu_7fa46b0f{margin-bottom: 10px; }
.cbdiv_a31f606c{width: 320px; }
.cbdiv_311c2c13{width:  100%; padding-top:  4vw; padding-bottom: 4vw; }
.cbimag_999e3286{width: 180px; }
.cbhead_ff4d0ce3{width:  95%; Width: 100%; }
.cbpara_aa53d898{width:  95%; Width: 100%; }
.cbdiv_80bd0417{flex-direction: column; }
.cbbsbu_c0737be7{margin-bottom: 10px; }
.S_cbdiv_6b38192a{min-height: 280px; }
.S_cbdiv_85131974{width: 320px; }
.S_cbdiv_5a9f74de{width: 100%; }
.S_cbhead_2e68fa2c{width:  95%; Width: 100%; }
.S_cbhead_a180664e{font-size: 21px; }
.S_cbpara_45b8ea32{width:  95%; Width: 100%; }
.S_cbdiv_a589ad3d{flex-direction: column; }
.S_cbbsbu_d1f18c92{margin-bottom: 10px; }
} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 